header{
  height: 200px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

}




section{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


footer{
  height: 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 5rem;
}